
.button-grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap:14px;
    
}
.calc-frame{
    /*width:200px;*/
    display:flex;
    border:2px solid black;
    padding:25px 15px 15px 15px;
    background-color:#3b4b4a;
    border-radius: 20px;
    flex-wrap:wrap;
    flex-direction: column;
    
}
.clear-delete{
    display:flex;
    justify-content: space-around;
}
.calc-display{
    border:1px solid white;
    padding:10px;
    background-color: white;
    border-radius: 5px;
    color:black;
    min-height:60px;
    width:250px;
    font-weight:bold;
    display:flex;
    word-break: break-all;
    flex-direction: column;
    align-items: flex-end;

}

.calc-display .first-half{
    font-size: 25px;
    flex:1;
    
}
.calc-display .second-half{
   flex:1;
   
}


.calc-buttons{
    /*border:1px solid green;*/
    margin-top:20px;
}
.clear-delete{
    margin-bottom: 10px;
    display:flex;
}
.clear-delete button{
    width:135px;
    padding:10px;
    background-color:#66c430;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:#c4f1db;
   font-family: 'Nunito', sans-serif;
    
}
button{
    width:60px;
    height:60px;
    color:white;
    background-color:#39794c;
    border-radius: 10px;
    font-size:20px;
    font-weight:bold;
}
.operator button{
    background-color:#87f1c2;
    color:black;
}
